* {
    box-sizing: border-box;
}

body {
    background-color: #4b5658;
    color: #dcd3c2;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
}

img {
    width: auto;
    height: 500px;
}

.container {
    margin-top: 1.2rem;
}

.container>a {
    display: inline-block;
    vertical-align: middle;
}

.mySlides:not(:first-child) {
    display: none;
}

#slideWrapper {
    display: inline-block;
    vertical-align: middle;
}

.mySlides>img {
    padding: 2rem;
    background: black;
}